<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Data</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Link Data</h1>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> {{ link_data.id }}</p>
                <p><strong>Link:</strong> <a href="{{ link_data.link }}" target="_blank">{{ link_data.link }}</a></p>
                <p><strong>Created At:</strong> {{ link_data.created_at }}</p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="shopeeModal" tabindex="-1" aria-labelledby="shopeeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shopeeModalLabel">Mã Giảm Giá Shopee</h5>
                </div>
                <div class="modal-body text-center">
                    <a href="https://s.shopee.vn/3LCzhAV9tx" target="_blank">
                        <img src="https://nld.mediacdn.vn/291774122806476800/2022/3/15/sp3-16473315874501070220509.png" alt="Shopee Ad" class="img-fluid">
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="shopeeCloseButton">Tắt quảng cáo</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#shopeeModal').modal('show');

            $('#shopeeCloseButton').click(function() {
                window.open('https://s.shopee.vn/3LCzhAV9tx', '_blank');
                $('#shopeeModal').modal('hide');
            });
        });
    </script>
</body>
</html>